In [11]:
import pandas as pd 
import numpy as np 
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report ,  accuracy_score, precision_score, recall_score,f1_score

In [12]:
df = pd.read_csv("1-heart.csv")

In [13]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [14]:
# selecting the features   - already preprocessed data
X=df.drop("target",axis=1)
y=df["target"]

In [16]:
X.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [17]:
# train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(
    X,y,test_size=0.2 ,random_state=42
)

In [18]:
# scaling the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [24]:
model=LogisticRegression(penalty="l1",solver="liblinear")
model.fit(X_train_scaled,Y_train)
Y_pred = model.predict(X_test_scaled)
print(accuracy_score(Y_test,Y_pred))

print(classification_report(Y_test,Y_pred))

0.8524590163934426
              precision    recall  f1-score   support

           0       0.83      0.86      0.85        29
           1       0.87      0.84      0.86        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61